<%- include('partial/body-open') %>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">

        <%- include('partial/header-nav') %> 

        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="welcome-card">

                    <div class="mdl-card__supporting-text">
                        <div class="container mt-5">
                            <div class="mdl-card__title2">
                                <h2 class="mdl-card__title-text">Dizimistas</h2>
                            </div>
                        </div>
                    </div>

                    <div class="mdl-card__supporting-text">
                        <div class="container mt-5 ">

                            <%- include('partial/dashboard-table-guests') %>
                    
                            
                            

                            <!--
                            <form action="/add/todo" class="d-flex" method="POST">
                                <input type="text" name="todo" class="form-control" placeholder="Enter Todo">
                                <input type="submit" value="Add" class="btn btn-md btn-primary mx-3">
                            </form>-->
                    
                              <!-- <div class="row">
                    
                               
                                <div class="col-md-12 order-md-1">
                                    <div class="row text-center">
                                      <div class="col-md-12 mb-3">
                                        <a class="btn btn-success" href="/push" style="width: 60%;" role="button">Submit CV</a>
                                      </div>
                                    </div>
                                </div>
                    
                              </div>-->
                    
                              <!--
                            <ul class="list-group mt-5 ">
                                <% todo.forEach(todos=>{ %>
                    
                                    <li class="list-group-item hov libasic" 
                                    <% if(todos.done==1) 
                                    { %>style=" background-color: #accec6 ; text-decoration: line-through;"
                                    <% } %> >
                                        <%= todos.cod %> - <%= todos.nome %>
                    
                                        <span>
                    
                                            <% if(todos.done==0) 
                                            { %> <a href="/update/todo/<%=todos._id%>" class="btn btn-success btn-small" style="margin-right:0px">Done</a>
                                            <% } %>
                                            
                                            <a href="/dizimistas/carnes/<%=todos.cod%>" class="btn btn-primary btn-small">Gerar Carnê</a>
                                            <a href="/dizimistas/<%=todos.cod%>/carnes/pagamento" class="btn btn-primary btn-small">Pagamento Dízimo</a>
                                        </span>
                                    </li>
                    
                                    <% }) %>
                            </ul>-->
                    
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <%- include('partial/input-search-in-table-script') %>

    <%- include('partial/body-close') %>    